
:root {
  --white: #FFFFFF;
  --black: #151515;
  --beige: #FEF7EA;
  --orange: #FF7442;
  --blue: #A3BEF5;
  --green: #8BC062;
  --rose: #F5A3E0;

  --radius-btn: 32px;
  --radius-card: 60px;
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background-color: var(--beige);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background: var(--white);
  width: 100%;
  max-width: 420px;
  border-top-left-radius: var(--radius-card);
  border-top-right-radius: var(--radius-card);
  padding: 5rem 3rem;
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.step {
  display: flex;
  align-items: flex-start;
}

.steps{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.step-number {
  color: var(--green);
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  min-width: 18%;
}

.step-text {
  font-size: 18px;
  color: var(--black);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn {
  background-color: var(--green);
  color: var(--white);
  border: none;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 700;
  border-radius: var(--radius-btn);
  cursor: pointer;
}


.hidden {
  display: none;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.question-text,
.result-text {
  font-size: 24px;
  color: var(--black);
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.return {
  text-decoration: underline;
  color: var(--black);
  font-size: 16px;
}